.main{
    background-image: url("./portfoliobg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 990px;
}
.name{
    color:green;
    text-align: center;
}
.mypic{
    margin-left: 19%;
    border-radius: 80px;
}
.float{
    float: right;
    border-radius: 100px;
}
ol{
    display: flex;
    justify-content: space-evenly;
    font-size: x-large;
    font-style: italic;
    padding-top: 15px;
}
h2{
    text-align: center;
    color: white;
    padding-top: 50px;
    
}
em{
    color: purple;
}
.link{
    text-align: center;
}
.aboutskills{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    padding-top: 15px;
}
.about{
    background-color: thistle;
    border-radius: 10px 10px 10px 10px;
    color: darkorchid;
}
.skills{
    background-color: thistle;
    border-radius: 10px 10px 10px 10px;
    color: darkorchid;
}
h3:hover ,h4:hover{
    color: green;
}
.jobst{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    
}
.job{
    background-color: rgb(56, 179, 179);
    padding-top: 5px;  
    width: fit-content; 
    border-radius: 10px;
    color: darkorchid;
    background-color: thistle;
}
.strengths{
    background-color: rgb(56, 179, 179);
    padding-top: 5px;  
    width: fit-content; 
    border-radius: 10px;
    color: darkorchid;
    background-color: thistle;
    float: right;
}