.main{
    background-image: url("./portfoliobg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 990px;
}
.name{
    color:green;
    text-align: center;
}
.mypic{
    margin-left: 19%;
    border-radius: 80px;
}
.float{
    float: right;
    border-radius: 100px;
}
ol{
    display: flex;
    justify-content: space-evenly;
    font-size: x-large;
    font-style: italic;
    padding-top: 15px;
}
h2{
    text-align: center;
    color: white;
    padding-top: 50px;
    
}
em{
    color: purple;
}
.link{
    text-align: center;
}
.aboutskills{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    padding-top: 15px;
}
.about{
    background-color: thistle;
    border-radius: 10px 10px 10px 10px;
    color: darkorchid;
    animation: slideInFromLeft 1s ease-in;
}
.skills{
    background-color: thistle;
    border-radius: 10px 10px 10px 10px;
    color: darkorchid;
    animation: slideInFromRight 1s ease-in;
}
.about:hover ,
.skills:hover ,
.job:hover,
.strengths:hover{
    color: green;
}
.jobst{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    
}
.job{
    background-color: rgb(56, 179, 179);
    padding-top: 5px;  
    width: fit-content; 
    border-radius: 10px;
    color: darkorchid;
    background-color: thistle;
}
.strengths{
    background-color: rgb(56, 179, 179);
    padding-top: 5px;  
    width: fit-content; 
    border-radius: 10px;
    color: darkorchid;
    background-color: thistle;
    float: right;
}
.contact{
    text-align: center;
    padding-top: 15px;
    background-color: rgb(56, 179, 179);
}
.email{
    color: rgb(248, 39, 16);
    font-size: larger;
}
.support{
    text-align: center;
}
h8{
    color: seagreen;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}
.cright{
    text-align: center;
    padding-top: 15px;
    color: green;
}
/* animations */
@keyframes slideInFromLeft{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(10%);
    }
}
@keyframes slideInFromRight{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(10%);
    }
}