.main{
    background-image: url("./portfoliobg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
}
.name{
    color:green;
    text-align: center;
}
ol{
    display: flex;
    justify-content: space-evenly;
    font-size: x-large;
    font-style: italic;
}